.logo {

    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    text-align: center;
}

.no-padding{
    padding: 0;
} 

.no-margin{
    margin: 0;
}


.new-car {
    float: right;
    text-align: center;
    margin-bottom: 5px;
}
